$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" />	
	<link rel="stylesheet" type="text/css" href="static/style.css" media="all" />  
	<title>Web.py example</title>
</head>

<body>

<div id="container">

<div id="header"><h1>Web.py<span> example</span></h1></div>

$:content

 <div id="footer">by <a href="mailto:s1iderorama@gmail.com">Denis Zvezdov</a>. ©2011 </div>
</div>
</body>